<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 配置组件扫描 -->
    <context:component-scan base-package="com.veryoo.ssmqs.service"></context:component-scan>
    
    <!-- 配置c3p0连接池 -->
    <context:property-placeholder location="classpath:db.properties"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.name}" />
        <property name="password" value="${jdbc.password}" />
    </bean>
    
    <!-- 将sessionFactory也给Spring管理 -->
    <!-- 集成Mybatis Plus，
                        只需要替换org.mybatis.spring.SqlSessionFactoryBean
                        成com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean-->
    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <!-- 指定数据库连接 -->
        <property name="dataSource" ref="dataSource"></property>
        <!-- 加载mybatis的全局配置 -->
        <property name="configLocation" value="classpath:mybatis-config.xml" />
    </bean>
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 配置扫描包，多个包名可以用英文逗号分隔 -->
        <property name="basePackage" value="com.veryoo.ssmqs.mapper"></property>
    </bean>
    
     <!--事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!--启用基于注解的声明式事务管理-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>